  .home-section{
    background-image: url("../../../assets/home/background-home-desktop.jpg")
  }

  .home-section{
    display: flex;
    margin: 10.625rem;
    align-items: center;   
  }

  .home-content{
    display: grid;
    gap: 1.5rem;
    max-width: 26.5625rem;
    margin-right: auto;
  }

  .home-content h3{
    font-size: var(--fs-heading5);
  }

  .home-content h1{
    font-size: var(--fs-heading1);
  }

  .home-content p{
    text-wrap:wrap;
    font-size: 1rem;
  }

  .home-content-button{
    font-size: var(--fs-heading5);
    margin-left: auto;
    border-radius: 50%;
    height: 242px;
    width: 242px;
  }

  .home-content h1{
      font-size: 5rem;
    }

  .home-content p{
      font-size: 0.9325rem;
    }

  .home-content-button{
      font-size: 1.25rem;
      margin-top: 5rem;
      height: 150px;
      width: 150px;
    }